# игнорировать папку виртуального окружения
venv/
.idea/
__pycache__/
*.pyc

# игнорировать локальные файлы баз данных (если вы заводите SQLite-файлы для локального тестирования)
*.db

# игнорировать файлы локальных конфигураций
*.local
.env
